In [ ]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [52]:
data = pd.read_csv("merged_dataSet.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7944 entries, 0 to 7943
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       7944 non-null   int64
 1   Name             7944 non-null   object
 2   Platform         7944 non-null   object
 3   meta_score       7944 non-null   int64
 4   meta_UserReview  7944 non-null   object
 5   vg_Rank          7944 non-null   int64
 6   Year             7835 non-null   float64
 7   Genre            7944 non-null   object
 8   Publisher        7944 non-null   object
 9   Developer        7944 non-null   object
 10  vg_critic_score  3186 non-null   float64
 11  vg_user_score    223 non-null    float64
 12  NA_Sales         6144 non-null   float64
 13  PAL_Sales        6455 non-null   float64
 14  JP_Sales         2334 non-null   float64
 15  Other_Sales      6930 non-null   float64
 16  Global_Sales     7156 non-null   float64
dtypes: float64(8), int64(3), object(6)
memory usage: 1.0+ MB

Converting meta_user Review to float

In [ ]:
data.loc[(data['meta_UserReview'] == 'tbd')] = None
data['meta_UserReview'] = data['meta_UserReview'].astype(float)

## ask group if need to put as median value for NA or take out

Removing those records that has NULL for year and then changing the type of year to int as it is more logical

In [53]:
data.dropna(subset=['Year'], inplace=True)
data['Year'] = data['Year'].astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7835 entries, 0 to 7943
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       7835 non-null   int64
 1   Name             7835 non-null   object
 2   Platform         7835 non-null   object
 3   meta_score       7835 non-null   int64
 4   meta_UserReview  7835 non-null   object
 5   vg_Rank          7835 non-null   int64
 6   Year             7835 non-null   int64
 7   Genre            7835 non-null   object
 8   Publisher        7835 non-null   object
 9   Developer        7835 non-null   object
 10  vg_critic_score  3183 non-null   float64
 11  vg_user_score    223 non-null    float64
 12  NA_Sales         6141 non-null   float64
 13  PAL_Sales        6453 non-null   float64
 14  JP_Sales         2331 non-null   float64
 15  Other_Sales      6927 non-null   float64
 16  Global_Sales     7152 non-null   float64
dtypes: float64(7), int64(4), object(6)
memory usage: 1.1+ MB

Replace all the NA values in NA_Sales , PAL_Sales , JP_sales , Other_sales and Global_sales with 0

In [57]:
data["NA_Sales"].fillna(0,inplace=True)
data["PAL_Sales"].fillna(0,inplace=True)
data["JP_Sales"].fillna(0,inplace=True)
data["Other_Sales"].fillna(0,inplace=True)
data["Global_Sales"].fillna(0,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7835 entries, 0 to 7943
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       7835 non-null   int64
 1   Name             7835 non-null   object
 2   Platform         7835 non-null   object
 3   meta_score       7835 non-null   int64
 4   meta_UserReview  7835 non-null   object
 5   vg_Rank          7835 non-null   int64
 6   Year             7835 non-null   int64
 7   Genre            7835 non-null   object
 8   Publisher        7835 non-null   object
 9   Developer        7835 non-null   object
 10  vg_critic_score  3183 non-null   float64
 11  vg_user_score    223 non-null    float64
 12  NA_Sales         7835 non-null   float64
 13  PAL_Sales        7835 non-null   float64
 14  JP_Sales         7835 non-null   float64
 15  Other_Sales      7835 non-null   float64
 16  Global_Sales     7835 non-null   float64
dtypes: float64(7), int64(4), object(6)
memory usage: 1.1+ MB

Adding all the sales to a new Column called total sales

In [58]:
data["Total_Sales"]= data["NA_Sales"] + data["PAL_Sales"] + data["JP_Sales"] + data["Other_Sales"] + data["Global_Sales"]

Reordering of columns so that it is easier to look at

In [62]:
cleaned_data = data[["Name","Platform","Year","Genre","Publisher","Developer","vg_Rank","vg_critic_score","vg_user_score","meta_score","meta_UserReview","NA_Sales","PAL_Sales","JP_Sales","Other_Sales","Global_Sales","Total_Sales" ]]
cleaned_data.to_csv("cleaned_data.csv")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7835 entries, 0 to 7943
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             7835 non-null   object
 1   Platform         7835 non-null   object
 2   Year             7835 non-null   int64
 3   Genre            7835 non-null   object
 4   Publisher        7835 non-null   object
 5   Developer        7835 non-null   object
 6   vg_Rank          7835 non-null   int64
 7   vg_critic_score  3183 non-null   float64
 8   vg_user_score    223 non-null    float64
 9   meta_score       7835 non-null   int64
 10  meta_UserReview  7835 non-null   object
 11  NA_Sales         7835 non-null   float64
 12  PAL_Sales        7835 non-null   float64
 13  JP_Sales         7835 non-null   float64
 14  Other_Sales      7835 non-null   float64
 15  Global_Sales     7835 non-null   float64
 16  Total_Sales      7835 non-null   float64
dtypes: float64(8), int64(3), object(6)
memory usage: 1.1+ MB