In [ ]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [ ]:
data = pd.read_csv("merged_dataSet.csv")
data.info()

Converting meta_user Review to float

In [ ]:
data.loc[(data['meta_UserReview'] == 'tbd')] = None
data['meta_UserReview'] = data['meta_UserReview'].astype(float)

## ask group if need to put as median value for NA or take out

Removing those records that has NULL for year and then changing the type of year to int as it is more logical

In [ ]:
data.dropna(subset=['Year'], inplace=True)
data['Year'] = data['Year'].astype(int)
data.info()

Replace all the NA values in NA_Sales , PAL_Sales , JP_sales , Other_sales and Global_sales with 0

In [ ]:
data["NA_Sales"].fillna(0,inplace=True)
data["PAL_Sales"].fillna(0,inplace=True)
data["JP_Sales"].fillna(0,inplace=True)
data["Other_Sales"].fillna(0,inplace=True)
data["Global_Sales"].fillna(0,inplace=True)
data.info()

In [ ]:
#one hot encoding of Genre

Adding all the sales to a new Column called total sales

In [ ]:
data["Total_Sales"]= data["NA_Sales"] + data["PAL_Sales"] + data["JP_Sales"] + data["Other_Sales"] + data["Global_Sales"]

Reordering of columns so that it is easier to look at and performing one-hot enccoding for the genre variable

In [82]:
cleaned_data = data[["Name","Platform","Year","Genre","Publisher","Developer","vg_Rank","vg_critic_score","vg_user_score","meta_score","meta_UserReview","NA_Sales","PAL_Sales","JP_Sales","Other_Sales","Global_Sales","Total_Sales" ]]
cleaned_data = pd.concat([cleaned_data,pd.get_dummies(cleaned_data['Genre'])],axis=1)
cleaned_data.drop(['Genre'],axis=1, inplace=True)
cleaned_data.head()
cleaned_data.to_csv("cleaned_data.csv")