# Importing Essential Libraries

In [28]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

# Importing Data

In [29]:
vg_sales = pd.read_excel("Final Data.xlsx")
metaCritic = pd.read_csv("meta_critic.csv")
metaCritic.head()

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

Change the column of user_review in metaCritic CSV to meta_UserReview. The following columns are also changed so that merging could be done later. These columns are name and platform.

In [30]:
metaCritic.rename(columns={'user_review':'meta_UserReview','name':'Name','platform':'Platform'},inplace=True)

The user_score column and critic score in vgSales.csv would be changed to vg_user_score and vg_critic_score to so that the columns are clearly identified later in the model.

In [31]:
vg_sales.rename(columns={'User_Score':'vg_user_score','Critic_Score':'vg_critic_score','Rank':'vg_Rank'},inplace=True)
vg_sales['Platform'].unique()
vg_sales.head()

,vg_Rank,Name,Platform,Year,Genre,Publisher,Developer,vg_critic_score,vg_user_score,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Tetris,Series,1989.0,Puzzle,Nintendo,Alexey Pajitnov,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Pokemon,Series,1998.0,Role-Playing,Nintendo,Game Freak,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Call of Duty,Series,2003.0,Shooter,Activision,Infinity Ward,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Super Mario,Series,1983.0,Platform,Nintendo,Nintendo,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Grand Theft Auto,Series,1998.0,Action-Adventure,Rockstar Games,Rockstar North,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
#dataset to be merged
temp =metaCritic[['Name','Platform','meta_score','meta_UserReview']]
array = temp['Platform'].unique()
print(array)

[' Nintendo 64' ' PlayStation' ' PlayStation 3' ' Dreamcast' ' Xbox 360'
 ' Wii' ' Xbox One' ' PC' ' Switch' ' PlayStation 2' ' PlayStation 4'
 ' GameCube' ' Xbox' ' Wii U' ' Game Boy Advance' ' 3DS' ' Xbox Series X'
 ' DS' ' PlayStation Vita' ' PlayStation 5' ' PSP' ' Stadia']

In [33]:
# dictonary that contains the keywords that needs to be swapped. T
conversion ={
    ' Nintendo 64':'N64' ,
    ' PlayStation': 'PS' ,
    ' PlayStation 3': 'PS3', 
    ' Dreamcast': 'DC',
    ' Xbox 360':'X360',
    ' Wii':'Wii',
    ' Xbox One':'XOne',
    ' PC' : 'PC',
    ' Switch': 'NS',
    ' PlayStation 2': 'PS2',
    ' PlayStation 4': 'PS4',
    ' GameCube': 'GCN',
    ' Xbox': 'XB',
    ' Wii U': 'WiiU',
    ' Game Boy Advance': 'GBA',
    ' 3DS': '3DS',
    ' Xbox Series X': 'XSX',
    ' DS': 'DS',
    ' PlayStation Vita': 'PSV',
    ' PlayStation 5': 'PS5',
    ' PSP': 'PSP',
    ' Stadia': 'PC',    
 }
 
temp = temp.replace({'Platform': conversion})

In [34]:
merged_dataSet = pd.merge(temp,vg_sales)
merged_dataSet.to_csv('merged_dataSet.csv')