In [18]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [19]:
data = pd.read_csv("merged_dataSet.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10996 entries, 0 to 10995
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       10996 non-null  int64
 1   Name             10996 non-null  object
 2   Platform         10996 non-null  object
 3   meta_score       10996 non-null  int64
 4   meta_UserReview  10996 non-null  object
 5   vg_Rank          10996 non-null  int64
 6   Year             10412 non-null  float64
 7   Genre            10996 non-null  object
 8   Publisher        10996 non-null  object
 9   Developer        10996 non-null  object
 10  vg_critic_score  3417 non-null   float64
 11  vg_user_score    261 non-null    float64
 12  NA_Sales         6144 non-null   float64
 13  PAL_Sales        6455 non-null   float64
 14  JP_Sales         2334 non-null   float64
 15  Other_Sales      6930 non-null   float64
 16  Global_Sales     7156 non-null   float64
dtypes: float64(8), int64(3), object(6)
memory usage: 1.4+ MB

Converting meta_user Review to float

In [20]:
data.loc[(data['meta_UserReview'] == 'tbd')] = None
data['meta_UserReview'] = data['meta_UserReview'].astype(float)

## ask group if need to put as median value for NA or take out

Removing those records that has NULL for year and then changing the type of year to int as it is more logical

In [21]:
data.dropna(subset=['Year'], inplace=True)
data['Year'] = data['Year'].astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9940 entries, 0 to 10995
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       9940 non-null   float64
 1   Name             9940 non-null   object
 2   Platform         9940 non-null   object
 3   meta_score       9940 non-null   float64
 4   meta_UserReview  9940 non-null   float64
 5   vg_Rank          9940 non-null   float64
 6   Year             9940 non-null   int32
 7   Genre            9940 non-null   object
 8   Publisher        9940 non-null   object
 9   Developer        9940 non-null   object
 10  vg_critic_score  3335 non-null   float64
 11  vg_user_score    258 non-null    float64
 12  NA_Sales         5787 non-null   float64
 13  PAL_Sales        6130 non-null   float64
 14  JP_Sales         2313 non-null   float64
 15  Other_Sales      6568 non-null   float64
 16  Global_Sales     6789 non-null   float64
dtypes: float64(11), int32(1), object(5)
memory usage: 1.3+ MB

Replace all the NA values in NA_Sales , PAL_Sales , JP_sales , Other_sales and Global_sales with 0

In [22]:
data["NA_Sales"].fillna(0,inplace=True)
data["PAL_Sales"].fillna(0,inplace=True)
data["JP_Sales"].fillna(0,inplace=True)
data["Other_Sales"].fillna(0,inplace=True)
data["Global_Sales"].fillna(0,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9940 entries, 0 to 10995
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       9940 non-null   float64
 1   Name             9940 non-null   object
 2   Platform         9940 non-null   object
 3   meta_score       9940 non-null   float64
 4   meta_UserReview  9940 non-null   float64
 5   vg_Rank          9940 non-null   float64
 6   Year             9940 non-null   int32
 7   Genre            9940 non-null   object
 8   Publisher        9940 non-null   object
 9   Developer        9940 non-null   object
 10  vg_critic_score  3335 non-null   float64
 11  vg_user_score    258 non-null    float64
 12  NA_Sales         9940 non-null   float64
 13  PAL_Sales        9940 non-null   float64
 14  JP_Sales         9940 non-null   float64
 15  Other_Sales      9940 non-null   float64
 16  Global_Sales     9940 non-null   float64
dtypes: float64(11), int32(1), object(5)
memory usage: 1.3+ MB

In [23]:
#one hot encoding of Genre

Adding all the sales to a new Column called total sales

In [24]:
data["Total_Sales"]= data["NA_Sales"] + data["PAL_Sales"] + data["JP_Sales"] + data["Other_Sales"] + data["Global_Sales"]

Reordering of columns so that it is easier to look at and performing one-hot enccoding for the genre variable

In [25]:
cleaned_data = data[["Name","Platform","Year","Genre","Publisher","Developer","vg_Rank","vg_critic_score","vg_user_score","meta_score","meta_UserReview","NA_Sales","PAL_Sales","JP_Sales","Other_Sales","Global_Sales","Total_Sales" ]]
cleaned_data = pd.concat([cleaned_data,pd.get_dummies(cleaned_data['Genre'])],axis=1)
cleaned_data.head()
cleaned_data.to_csv("cleaned_data.csv")