# Importing Essential Libraries

In [57]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

# Importing Data

Importing both the original dataset and the new dataset for merging

In [58]:
vg_sales = pd.read_csv("Final Data.csv")

# dropping the first column as we will not be using this
vg_sales.drop("Rank", axis=1, inplace=True)

metaCritic = pd.read_csv("meta_critic.csv")
metaCritic.head()

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

Change the column of user_review in metaCritic CSV to meta_UserReview. The columns name and platform are also changed so that merging could be done later.

In [59]:
metaCritic.rename(columns={'user_review':'meta_UserReview','name':'Name','platform':'Platform'},inplace=True)

The user_score column and critic score in vgSales.csv are changed to vg_user_score and vg_critic_score to so that the columns are clearly identified later in the model.

In [60]:
vg_sales.rename(columns={'User_Score':'vg_user_score','Critic_Score':'vg_critic_score','Rank':'vg_Rank'},inplace=True)
vg_sales['Platform'].unique()

array(['Series', 'All', 'Wii', 'NS', 'NES', 'PC', 'GB', 'DS', 'X360',
       'SNES', 'PS3', 'PS4', '3DS', 'PS2', 'GBA', 'GEN', 'N64', 'PS',
       'XOne', 'WiiU', 'XB', 'PSP', '2600', 'GC', 'GBC', 'iOS', 'PSN',
       'PSV', 'DC', 'XBL', 'SAT', 'SCD', 'PS5', '3DO', 'WS', 'Amig', 'VC',
       'NG', 'WW', 'PCE', 'GG', 'OSX', 'PCFX', 'Mob', 'And', 'Ouya',
       'DSiW', 'MS', 'DSi', 'VB', 'Linux', 'MSD', 'C128', 'AST', 'Lynx',
       '7800', '5200', 'S32X', 'MSX', 'FMT', 'ACPC', 'C64', 'BRW', 'AJ',
       'ZXS', 'NGage', 'GIZ', 'WinP', 'iQue', 'Arc', 'ApII', 'Aco',
       'BBCM', 'TG16', 'CDi', 'CD32', 'XS', 'CV', 'OR', 'Int'],
      dtype=object)

In [61]:
# dataset to be merged
temp = metaCritic[['Name','Platform','meta_score','meta_UserReview']]
array = temp['Platform'].unique()
print(array)

[' Nintendo 64' ' PlayStation' ' PlayStation 3' ' Dreamcast' ' Xbox 360'
 ' Wii' ' Xbox One' ' PC' ' Switch' ' PlayStation 2' ' PlayStation 4'
 ' GameCube' ' Xbox' ' Wii U' ' Game Boy Advance' ' 3DS' ' Xbox Series X'
 ' DS' ' PlayStation Vita' ' PlayStation 5' ' PSP' ' Stadia']

In [62]:
# dictonary that contains the keywords that needs to be swapped
conversion = {
    ' Nintendo 64':'N64' ,
    ' PlayStation': 'PS' ,
    ' PlayStation 3': 'PS3', 
    ' Dreamcast': 'DC',
    ' Xbox 360':'X360',
    ' Wii':'Wii',
    ' Xbox One':'XOne',
    ' PC' : 'PC',
    ' Switch': 'NS',
    ' PlayStation 2': 'PS2',
    ' PlayStation 4': 'PS4',
    ' GameCube': 'GCN',
    ' Xbox': 'XB',
    ' Wii U': 'WiiU',
    ' Game Boy Advance': 'GBA',
    ' 3DS': '3DS',
    ' Xbox Series X': 'XSX',
    ' DS': 'DS',
    ' PlayStation Vita': 'PSV',
    ' PlayStation 5': 'PS5',
    ' PSP': 'PSP',
    ' Stadia': 'PC',    
 }
 
temp = temp.replace({'Platform': conversion})

In [63]:

# merging the datasets have also removed many duplicate datapoints
merged_dataSet = pd.merge(temp,vg_sales,on=["Name","Platform"])

# making sure everything worked
merged_dataSet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10996 entries, 0 to 10995
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             10996 non-null  object
 1   Platform         10996 non-null  object
 2   meta_score       10996 non-null  int64
 3   meta_UserReview  10996 non-null  object
 4   Year             10412 non-null  float64
 5   Genre            10996 non-null  object
 6   Publisher        10996 non-null  object
 7   Developer        10996 non-null  object
 8   vg_critic_score  3417 non-null   float64
 9   vg_user_score    261 non-null    float64
 10  NA_Sales         6144 non-null   float64
 11  PAL_Sales        6455 non-null   float64
 12  JP_Sales         2334 non-null   float64
 13  Other_Sales      6930 non-null   float64
 14  Global_Sales     7156 non-null   float64
dtypes: float64(8), int64(1), object(6)
memory usage: 1.3+ MB

There's a Name column that we do not need (first column)

In [64]:
# removing the first column
merged_dataSet.drop("Name", axis=1, inplace=True)

# making sure everything worked
merged_dataSet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10996 entries, 0 to 10995
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Platform         10996 non-null  object
 1   meta_score       10996 non-null  int64
 2   meta_UserReview  10996 non-null  object
 3   Year             10412 non-null  float64
 4   Genre            10996 non-null  object
 5   Publisher        10996 non-null  object
 6   Developer        10996 non-null  object
 7   vg_critic_score  3417 non-null   float64
 8   vg_user_score    261 non-null    float64
 9   NA_Sales         6144 non-null   float64
 10  PAL_Sales        6455 non-null   float64
 11  JP_Sales         2334 non-null   float64
 12  Other_Sales      6930 non-null   float64
 13  Global_Sales     7156 non-null   float64
dtypes: float64(8), int64(1), object(5)
memory usage: 1.3+ MB

In [65]:
# export as csv so that other notebooks can use the merged dataset
merged_dataSet.to_csv('merged_dataSet.csv', index = False)